.idea
.git
.gitignore
bin/configure-env
bin/phpunit
config/parameters.yml
node_modules
data/database/sterlett_data/*
public/build/*.css
public/build/*.js
tests
var/cache/selenium-node-chrome/profiles/*
vendor
LICENSE
*.md
*.yml
*.yml.dist
*.xml
*.xml.dist
*.cache
