
# Copyright (c) 2020 Pavel Petrov <itnelo@gmail.com>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses>.

# This is file with base environment parameters.
# See .env.dev.dist and .env.stack.dist overrides for specific environment.

# developer's uid on the host machine
# id -u
HOST_UID=1000

TIMEZONE=Europe/Moscow
SOURCE_PATH=.
DEPLOYMENT_PATH=/var/www/sterlett

# php
PHP_VERSION=7.4

# nodejs
# major number, see https://github.com/nodesource/distributions#installation-instructions
NODEJS_VERSION=14

# app
APP_SERVER_PORT=6636

# lighttpd
LIGHTTPD_VERSION=1.4.55-r1
LIGHTTPD_PORT_EXPOSE=6635

# haproxy
HAPROXY_VERSION=2.2
HAPROXY_PORT_EXPOSE=6637
