.idea/

config/parameters.yml

node_modules/
vendor/

tests/_output/*
!tests/_output/.gitkeep

var/cache/*
!var/cache/.gitkeep

public/build/*
!public/build/.gitkeep

.env
docker-compose.yml
docker-compose.stack.yml

phpunit.xml
*.cache
