.idea/

config/parameters.yml

node_modules/
vendor/

data/database/*
!data/database/sterlett_data
data/database/sterlett_data/*
!data/database/sterlett_data/.gitkeep

tests/_output/*
!tests/_output/.gitkeep

var/cache/*
!var/cache/selenium-node-chrome
var/cache/selenium-node-chrome/*
!var/cache/selenium-node-chrome/profiles
var/cache/selenium-node-chrome/profiles/*
!var/cache/selenium-node-chrome/profiles/.gitkeep

public/build/*
!public/build/images

.env
docker-compose.yml
docker-compose.stack.yml

phpunit.xml
*.cache
