
@import 'spectre.css/src/layout';
@import 'typography';

.page {
    @extend .container;

    margin: {
        top: $unit-1 * 10;
        bottom: $unit-1 * 25;
    }

    line-height: $unit-1 * 6;
    font-size: $unit-1 * 4;

    .page__space {
        margin: {
            top: $unit-1 * 10;
        }
    }

    .page__content {
        @include shadow-variant($unit-o);

        padding: $unit-1 * 5;
        transform: translateY($layout-spacing-sm);

        // &-mod {}
    }
}

.page__content {
    .content__title {
        @extend p;

        display: block;
        padding: $unit-1 * 3;
        background: #f1f1fc;
    }
}
