
@import 'spectre.css/src/typography';

.kbd-multiline {
    @extend kbd;

    display: block;
    padding: $unit-1 * 2;

    overflow: scroll;
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}
