# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    app.locale: ru

    # Socket server configuration
    app.server.host: 'tcp://0.0.0.0'
    app.server.port: '%env(int:APP_SERVER_PORT)%'

    app.request.uri.path_prefix: '%env(string:APP_REQUEST_URI_PATH_PREFIX)%'
    # Proxy for some requests, which will be sent by the application (for both console API and microservice scopes),
    # example: '123.123.123.123:1234' (by default, similar to the ones used by generation 3 price provider)
    app.request.proxy_uri: '%env(string:SELENIUM_PROXY_HOST)%:%env(int:SELENIUM_PROXY_PORT)%'

    # Background tasks
    # Interval to execute price retrieving logic, in seconds (default: 36000.0; 10 hours)
    app.routine.price.retrieving_interval: 36000.0
    # Interval to update HTTP handler with new V/B ratio data, in seconds (default: 14400.0; 4 hours)
    app.routine.ratio.feed_interval: 14400.0

    app.console.name: 'Sterlett'
    app.console.version: '0.x'

    app.database.migrations.driver_name: 'pdo_mysql'
    app.database.migrations.user_name: '%env(string:DATABASE_USER_NAME)%'
    app.database.migrations.user_password: '%env(string:DATABASE_USER_PASSWORD)%'
    app.database.migrations.host: '%env(string:DATABASE_HOST)%'
    app.database.migrations.port: '%env(int:DATABASE_PORT)%'
    app.database.migrations.name: '%env(string:DATABASE_NAME)%'
    app.database.prices.uri: '%env(string:DATABASE_USER_NAME)%:%env(string:DATABASE_USER_PASSWORD)%@%env(string:DATABASE_HOST)%:%env(int:DATABASE_PORT)%/%env(string:DATABASE_NAME)%'
    app.database.table_name.price: 'hardware_price'

    # This will force the microservice to send a session quit command to the Selenium Grid each time a scraping session
    # is successfully complete (gen 3 algo only); pros: keeping low memory footprint on idle, cons: not so stable and
    # clean approach, when we have to maintain a "trustful" activity on the website. Restarting a browser may cause
    # extra requests / identity updates and other undesirable actions (default: false)
    app.browser.enable_cleaner: false

    # Selenium Grid will be used by gen 3 (or "T-1000") scraping algorithms (for some websites with advanced bot
    # protection), as they emulate human-like behavior in the real browser instance (Google Chrome with XVFB server)
    # https://selenium.dev/documentation/en/grid
    selenium.hub.host: '%env(string:SELENIUM_HUB_HOST)%'
    selenium.hub.port: '%env(int:SELENIUM_HUB_PORT)%'
    # Timeout for webdriver calls, in seconds (try to increase this value for low CPU/Mem environments, if you see
    # driver errors). Consider to upgrade your server/container specs if it can't handle the default value (30.0)
    selenium.command.timeout: 30.0
    # Sets how long to wait for the various AJAX requests / socket responses (waitUntil condition checks)
    selenium.ajax.timeout: 30.0
    # Defines how often to check element availability, AJAX results and other state data, in seconds
    # (waitUntil condition checks). Increasing this value may help to eliminate some errors for environment with
    # limited CPU/Mem resources (for example, if you encounter a "connection closed unexpectedly" error due to
    # excessive load for a single webdriver replica). Default: 0.5; means 2 checks per second - it is OK, if a
    # server/container has access to the decent amount of CPU cycles
    selenium.state.check_frequency: 0.5

    # Benchmarks
    passmark.cpu.download_uri: 'https://www.cpubenchmark.net/high_end_cpus.html'
    # Estimated download size of the PassMark benchmark list (in bytes)
    passmark.cpu.download_size_bytes_estimated: 750000
    # Minimum value, which a CPU model must score to be included in the algorithm's source data
    # Low End CPUs: 0-1000
    # Low Mid CPUs: 1000-2200
    # High Mid CPUs: 2200-6200
    # High End CPUs: 6200+
    passmark.cpu.min_value: 6200

    # Prices (RU)
    hardprice.authentication.base_uri: 'https://hardprice.ru'
    hardprice.cpu.download_uri: 'https://hardprice.ru/media/data/c/cpu.json'
    hardprice.price_list_uri: 'https://hardprice.ru/api/product_prices'
    # You can speed up price collecting routine, but it may lead to IP ban due to aggressive rate limiting / tarpitting
    # Estimated timings for price retrieving (gen 2, cpu cat., proxy enabled; w/o authentication actions & delays):
    # 1-1: 7 min            2-1: 6 min 39 sec
    # 8-1: 6 min 16 sec     8-2: 3 min 7 sec
    # 8-4: 1 min 39 sec     8-6: 1 min 10 sec
    # 8-8: 54 sec           16-8: 53 sec
    # 16-12: 39 sec         16-16: 31 sec
    # Defines how fast requests will be registered in the event loop (RPS minimum: 0.1)
    hardprice.requests_per_second: 0.1
    # Count of requests, which can be registered in the event loop at the same time (concurrent requests minimum: 1)
    hardprice.concurrent_requests: 1
    # Adds M..N additional time between requests for scraping actions (in seconds; chosen randomly on each iteration)
    hardprice.requests_delay_min: 30.0
    hardprice.requests_delay_max: 60.0
    # Store mappings
    # https://hardprice.ru/api/stores
    hardprice.stores:
        1: 'regard'
        3: 'citilink'
        4: 'pleer'
        5: 'computeruniverse'
        6: 'dns'
        8: 'oldi'
        9: 'fcenter'
        11: 'one123'
        12: 'ogo'
        13: 'just'
        15: 'notik'
        16: 'samsung'
        18: 'mvideo'
        20: 'ozon'
        26: 'beeline'
        27: 'mts'
        28: 'megafon'
        29: 'xiaomi'
        32: 'kotofoto'
        36: 'svyaznoy'
        38: 'icover'
        42: 'cstore'
        43: 'huawei'
        45: 'becompact'
        46: 'kcentr'
        47: 'somebox'
        48: 'technopark'
        49: 'eldorado'
        55: 'biggeek'
        57: 'beru'
        59: 'mta_ua'
        60: 'f_ua'
        61: 'ktc_ua'
        62: 'moyo_ua'
        63: 'rozetka_ua'
        64: 'wite'
        68: 'xcomshop'
