# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    app.locale: ru

    # Socket server configuration
    app.server.host: 'tcp://0.0.0.0'
    app.server.port: '%env(int:APP_SERVER_PORT)%'

    app.request.uri.path_prefix: '%env(string:APP_REQUEST_URI_PATH_PREFIX)%'
    # Proxy for all requests, which will be sent by the application (for both console API and microservice scopes)
    app.request.proxy_uri: ~

    app.console.name: 'Sterlett'
    app.console.version: '0.x'

    # Benchmarks
    passmark.cpu.download_uri: 'https://www.cpubenchmark.net/high_end_cpus.html'
    # Estimated download size of the PassMark benchmark list (in bytes)
    passmark.cpu.download_size_bytes_estimated: 750000

    # Prices
    hardprice.authentication_uri: 'https://hardprice.ru/privacy'
    hardprice.cpu.download_uri: 'https://hardprice.ru/media/data/c/cpu.json'
    hardprice.price_list_uri: 'https://hardprice.ru/api/product_prices'
