# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    app.locale: ru

    # Socket server configuration
    app.server.host: 'tcp://0.0.0.0'
    app.server.port: '%env(int:APP_SERVER_PORT)%'

    app.request.uri.path_prefix: '%env(string:APP_REQUEST_URI_PATH_PREFIX)%'

    app.console.name: 'Sterlett'
    app.console.version: '0.x'

    app.hardware.benchmark.provider.passmark.cpu.data_uri: 'https://www.cpubenchmark.net/high_end_cpus.html'
