
/**
 * This file represents a set of styles for the application component.
 * It also includes global styles (e.g. html, body overrides) and normalization for different browsers.
 * Core blocks, elements and modifiers are provided by the Spectre.css framework (https://github.com/picturepan2/spectre).
 */

// managed by Svelte Preprocess using PostCSS (https://github.com/postcss/postcss)
:global {
    @import 'spectre.css/src/normalize';
    @import 'spectre.css/src/base';

    @import 'spectre.css/src/typography';
    @import 'spectre.css/src/utilities/cursors';

    // for pages
    @import 'spectre.css/src/utilities/position';
    @import 'spectre.css/src/icons/icons-core';
    @import 'spectre.css/src/icons/icons-navigation';
    @import 'spectre.css/src/accordions';

    .column-break {
        flex-basis: 100%;
        height: 0;
        margin-bottom: $layout-spacing * 2;
    }
}

@import 'spectre.css/src/layout';

.page {
    @extend .container;

    margin: {
        top: $unit-1 * 10;
        bottom: $unit-1 * 25;
    }

    line-height: 1.5em;
    font-size: 1.05em;

    &__space {
        margin: {
            top: $unit-1 * 10;
        }
    }

    &__content {
        @include shadow-variant($unit-o);

        padding: $unit-1 * 5;
        transform: translateY($layout-spacing-sm);
    }
}

.github-ribbon-block {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;

    img {
        width: 180px;
        height: 180px;
    }
}
